.film-detail {
  /*background: #fff;*/
}
.film-banner {
  color: white;
  position: relative;
  max-height: 50vh;
  overflow: hidden;
  /*border-bottom: 1px solid #ccc;*/
}
.film-banner-bg {
  background: url("http://img3.doubanio.com/view/photo/s_ratio_poster/public/p2517753454.jpg");
  filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.film-poster {
  flex: 1;
  padding: 40rpx;
}
.film-poster-img {
  width: 100%;
}
.film-poster-label {
  width: 70px;
  text-align: justify;
  line-height: 2;
  display: inline-block;
}
.film-poster-collect {
  margin-top: 20rpx;
  border-radius: 20rpx;
  border: 1px solid #fff;
  padding: 4rpx 20rpx;
}
.film-basic {
  flex: 1;
}
.icon-detail-collect {
  display: inline-block;
}
.film-flow {
  border-bottom: 1px solid #eee;
  color: #ccc;
  font-size: 32rpx;
  padding: 20rpx 0;
  background-color: #fff;
}
.film-flow-item {
  flex: 1;
  text-align: center;
  line-height: 1.5;
}
.film-flow-item + .film-flow-item {
  border-left: 1px solid #eee;
}

.film-desc {
  padding: 30rpx;
  background: #fff;
}
.desc-title {
  border-left: 4rpx solid #0f0;
  padding-left: 10rpx;
  margin-bottom: 20rpx;
  font-weight: 700;
}

.desc-content {
  line-height: 1.5;
}
